h2 {
    font-size: 25px;
    font-weight: bolder;
    font-family:monospace;
    color: #FFFFFF;
    margin-left: 1200px;
    
}

.color-red {
    color: red;
}

body {
    background-color: #000000;
}

.intro {
    font-family: sans-serif;
    color: #FFFFFF;
    font-size: 100px;
    margin-top: 150px;
    text-align: left;
    animation-duration: 3s;
}

.color-flag {
    color: red;
}

.color-flag2 {
    color: yellow;
}

.color-flag3 {
    color: green;
}