h2 {
    font-size: 25px;
    font-weight: bolder;
    font-family:monospace;
    color: #FFFFFF;
    margin-left: 1200px;
    
}

.color-red {
    color: red;
}

.color-green {
    color: green;
}

.color-yellow {
    color: yellow;
}

body {
    background-color: rgb(10, 25, 47); 
}

.intro {
    font-family: sans-serif;
    color: #FFFFFF;
    font-size: 100px;
    margin-top: 90px;
    text-align: left;
    animation-duration: 3s;
}

.color-flag {
    color: red;
}

.color-flag2 {
    color: yellow;
}

.color-flag3 {
    color: green;
}

.description {
    font-size: 25px;
    color: #FFFFFF;
    font-weight: bold;
    font-family: sans-serif;
    margin-top: -70px;
    margin-left: 100px;  
}

 .click-me {
     background-color: #FFFFFF;
     color: #000000;
     font-size: 20px;
     font-weight: bold;
     font-family: sans-serif;
     margin-left: 98px;
     cursor: pointer;
     box-sizing: border-box;
     padding: 10px;
     text-decoration: none;
     border-style: none;
 }

 .footer-text {
     font-size: 15px;
     color: #FFFFFF;
     font-family: sans-serif;
     font-weight: bold;
     text-align: center;
     margin-top: 130px;
 }

 /*Form Section*/
 .must {
    color: red;
    text-transform: capitalize;
    font-family: sans-serif;
  }
  
  #gender {
    font-size: 20px;
  }
  
  .space {
    margin-bottom: 20px;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 20px;

  }
  
  .select label {
    margin-right: 20px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    height: 0px;
    font-family: sans-serif;

  }
  
  .form-control::placeholder {
    font-size: 13px;
    font-weight: 400;
    color: #7c7c7c;
  }
  
  .error {
    font-size: 13px;
    font-weight: 600;
  }
  
  .text-danger {
      color: red;
  }

  #submit{
    background-color: #FFFFFF;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-left: 0px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    text-decoration: none;
    border-style: none; 
    margin-top: 20px;
  }

  #akan-partner {
    margin-left: 380px;
    line-height: 100px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    height: 0px;
    font-family: sans-serif;
  }

  #submit2{
    background-color: #FFFFFF;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin-left: 450px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    text-decoration: none;
    border-style: none; 
    margin-top: 0px;
  }

  #bottom {
    font-size: 15px;
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 330px;
    line-height: 150px;
    margin-left: 500px;
  }